@use "../../scss/" as scss;

.login {
  flex-grow: 1;
  display: grid;
  place-items: center;
  position: relative;
  background: url("/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    display: block;
    background: linear-gradient(to bottom, scss.$black, 4%, transparent);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(20rem, 10rem + 13%, 30rem);
    padding: 1rem;
    aspect-ratio: 10/14.5;
    // border-radius: 10px;
    // background-color: rgba(0, 0, 0, 0.2);
    // box-shadow: 0px 0px 20px -5px white;
    // backdrop-filter: blur(10px);

    > div:nth-child(1) {
      height: 20%;
      border-radius: 10px 10px 0 0;
      display: flex;
      flex-direction: column;

      > div:nth-child(1) {
        flex-grow: 1;
        border-radius: 10px 10px 0 0;
        display: flex;

        > span {
          width: 50%;
          color: white;
          display: grid;
          place-items: center;
          font-size: clamp(1rem, 0.6rem + 1.5vw, 5rem);
          cursor: pointer;
          transition: all 0.5s;

          &:hover {
            background-color: white;
            color: scss.$black;
          }

          &:nth-child(1) {
            border-top-left-radius: 10px;
          }

          &:nth-child(2) {
            border-top-right-radius: 10px;
          }
        }
      }

      > div:nth-child(2) {
        height: 3px;
        width: 50%;
        background-color: white;
        transition: all 0.5s;
      }
    }

    > div:nth-child(2) {
      height: 80%;
      overflow: hidden;

      > div {
        height: 100%;
        width: 200%;
        display: flex;
        transition: all 0.5s;

        > div {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding-top: 3rem;
          position: relative;

          &:nth-child(1) {
            gap: 1rem+2.5rem+1rem;
          }

          &:nth-child(2) {
            gap: 1rem;
          }

          > p {
            height: 2.5rem;
            position: relative;

            &:nth-child(odd) > input {
              border-radius: 18px 8px 18px 8px;
            }

            &:nth-child(even) > input {
              border-radius: 8px 18px 8px 18px;
            }

            > input {
              width: 100%;
              height: 100%;
              padding-left: 2.6rem;
              padding-right: 1rem;
              font-size: 1.2rem;
              color: white;

              &:is(:focus, :hover) {
                background-color: rgba($color: white, $alpha: 0.3);
              }
            }

            > img {
              height: 2rem;
              position: absolute;
              top: 50%;
              left: 1%;
              transform: translateY(-50%);
              filter: invert(100%);

              &:has(+ input:is(:focus, :hover)) {
                filter: url(#makeMeBlue);
              }
            }
          }

          > a {
            color: white;
            position: absolute;
            bottom: 4.5rem;
          }

          > button {
            width: 100%;
            padding: 1rem 0;
            color: white;
            font-size: 1.3rem;
            border: 1px solid white;
            border-radius: 0 0 10px 10px;
            cursor: pointer;
            transition: all 0.5s;
            position: absolute;
            bottom: 0;

            &:hover {
              background: white;
              color: scss.$black;
            }
          }
        }
      }
    }
  }
}

.slide-right {
  transform: translateX(100%);
}

.slide-left {
  transform: translateX(-50%);
}
