@use "../../scss/index" as scss;

.reset-password {
  @include scss.auth-window();

  > div {
    @include scss.auth-input-panel(10/9);

    > form {
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2.5rem;
      gap: 2.5rem;

      > p {
        @include scss.auth-input-group();
      }

      > button {
        @include scss.auth-button();
      }
    }
  }
}
