@use "../../scss" as scss;

.home {
  // flex-grow: 1;
  background-color: scss.$black;
  padding: 1rem;
  position: relative;
  // display: flex;
  // flex-direction: column;
  z-index: 0;
  height: calc(100vh - scss.$header-height);
}
