@use "../../scss/index" as scss;

.forgot-password {
  @include scss.auth-window();

  > div {
    @include scss.auth-input-panel(5/3);

    > div {
      height: 100%;

      > form {
        height: 100%;
        position: relative;

        > p {
          @include scss.auth-input-group();
        }

        > button {
          @include scss.auth-button();
        }
      }
    }
  }
}
